main article h3{
    font-family: Montserrat, sans-serif;
    font-size: 1.75rem;
    margin-bottom: 0.4375rem;
    margin-top: 3.5rem;
}

main article p{
    margin-bottom: 1.75rem;
    

}